/********************************************
********** ~CREATED BY WILL MEIER ***********
*************  @ AGENCY ZERO ~ **************
*********************************************
*********************************************
CONTENTS:************************************
---------------------- **********************
~IMPORTS~ ************ **********************
~VARIABLES~ ********** **********************
~MIXINS~ ************* **********************
~NAV~ **************** **********************
~HOME~ *************** **********************
~BRANDING~ *********** **********************
~MEDIA QUERIES~ ****** **********************
---------------------- **********************
********************************************/

/********************************************
***************** ~IMPORTS~ *****************
********************************************/
@import "~normalize.css/normalize.css";
@import "base/animations";
@import "base/base";
@import "base/colors";
@import "base/easings";

/********************************************
**************** ~VARIABLES~ ****************
********************************************/


/********************************************
****************** MIXINS *******************
********************************************/
// @mixin prefix($declarations, $prefixes: ()) {
//   @each $property, $value in $declarations {
//     @each $prefix in $prefixes {
//       #{'-' + $prefix + '-' + $property}: $value;
//     }
//     #{$property}: $value;
//   }
// }

/********************************************
****************** ~NAV~ ********************
********************************************/
.header {}
.footer{}

/********************************************
****************** ~HOME~ *******************
********************************************/
.home{}

/********************************************
**************** ~BRANDING~ *****************
********************************************/
.az-logo-01{
  .cls-1{ fill:none; }
  .cls-2{ fill:$color-AZ-red; }
}
.az-logo-02{
  .cls-1{ fill:$color-AZ-red }
  .cls-2{ fill:none; }
  .cls-3{ fill: #fff; }
  .cls-4{ fill: #231f20;}
}

/********************************************
************* ~MEDIA QUERIES~ ***************
********************************************/
@media screen and (min-width:981px){}
@media screen and (min-width:671px) and (max-width:980px){}
@media screen and (min-width:415px) and (max-width:670px){}
@media screen and (max-width:414px){}
