/********************************************
****************** ~FONTS~ ******************
********************************************/
// @import

/********************************************
**************** ~VARIABLES~ ****************
********************************************/
$font-fallback: Helvetica, sans-serif;
$font-main-body: Helvetica, sans-serif;

/********************************************
****************** MIXINS *******************
********************************************/
@mixin prefix($declarations, $prefixes: ()) {
  @each $property, $value in $declarations {
    @each $prefix in $prefixes {
      #{'-' + $prefix + '-' + $property}: $value;
    }
    #{$property}: $value;
  }
}

/********************************************
****************** ~BODY~ *******************
********************************************/
body {
  font-family: $font-main-body;
  margin:0;
  width:100%; height:100%;
  ul { list-style: none; }
  a { text-decoration: none; color:inherit; }
}
main {}

/********************************************
****************** ~NAV~ ********************
********************************************/
.header {}
.footer{}

/********************************************
****************** ~HOME~ *******************
********************************************/
.home{}

/********************************************
************* ~MEDIA QUERIES~ ***************
********************************************/
@media screen and (min-width:981px){}
@media screen and (min-width:671px) and (max-width:980px){}
@media screen and (min-width:415px) and (max-width:670px){}
@media screen and (max-width:414px){}
