html {
  box-sizing: border-box;
  font-family: $font-base;
  font-size: 100%;
}

*, *:after, *:before {
  box-sizing: inherit;
}

body {
  position: relative;
  width:100%; height:100%;
  a { text-decoration: none; color:inherit; }
}

*::selection {
  text-shadow: none;
}

%no-list-style, .no-list-style {
  list-style: none;
}

ul {
  &.no-list-style {
    @extend %no-list-style;
  }
}
